/* Estrutura Menu básico */

body, ul {
	margin: 0px;
	padding: 0px;
}

a {
	color: #000000;
	text-decoration: none;
	font-family: sans-serif;
}

a:hover {
	background: rgba(0, 0, 0, 0.1);
}

.logo img {
	float: left;

}

#menugeral {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

#header {
	box-sizing: border-box;
	height: 70px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e7e7e7;
}

#menu {
	display: flex;
	list-style: none;
	gap:  .5rem;
}

#menu a {
	display: block;
	padding: .5rem;
}


/* Animação do menu */

#btn-mobile {
	display: none;
}



/* Estrutura do conteudo */

#cont_ge_menu {
  width: 100%;
  margin-top: 0px;
  float: left;
}

.fundo_titulo_menu {
  width: 100%;
  height: 60px;
  padding: 3px 20px;
  background-color: #07528c;
  box-sizing: border-box;
  display: flex;
	align-items: center;
	justify-content:center;
}

/* Estrutura das logos */

.menu_logo2 {
  width: 10%;
  margin-top: -1px;
  float: left;
}

.menu_logo3 {
  width: 10%;
  margin-top: -3px;
  float: left;
}

#relogio_menu {
  width: 100%;
  padding: 3px;
  background-color: rgb(239, 239, 250);
  border-radius: 0px 0px 10px 10px;
  float: left;
}

/* Estrutura do relógio */

#hms {
  width: 98.5%;
  padding: 10px 0px 10px 0px;
  display: flex;
	align-items: center;
	justify-content:right;
  text-decoration: none;
  font-family: sans-serif;
}

/* Estrutura da página prcincipal */

#conteudogeraldapagina {
  width: 100%;
  margin-top: 0px;
  float: left;
}

#configuracaopg {
  width: 95%;
  background-color: #614242;
  margin-top: 12.5%;
  float: left;
  margin-left: 2.5%;
  color: rgb(14, 44, 71);
  border-radius: 10px;
}

/* Estrutura do container_info*/

.container_infor {
  margin: auto;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 12.5%;
  background-color: #07528c;
  padding: 10px;
}

#sessao {
  width: 75%;
  height: 100%;
  margin-left: 2.5%;
  float: left;
  background-color: rgb(164, 167, 166); 
  font-family: sans-serif; 
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 10px 10px 0px 0px;
}

#navtwo {
  width: 20%;
  height: 71%;
  background-color: #444;
  float: left;
  margin-left: 75%;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
}

ul.menutwo {
  list-style-type: none;
  font-family: sans-serif;
}

ul.menutwo li {
  width: 250px;
  height: 50px;
  line-height: 50px;
  background-color: #777;
  color: #fff;
  margin-top: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}

.btn-post {
  width: 100px;
  height: 30px;
  background-color: #2a578b;
  border: 1px solid #ddd;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.campo {
  width: 300px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Utilização do Article */

.article {
  width: 99%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #d6d5d5;
  margin-bottom: 5px;
  border-radius: 10px;
}



/* Estrutura body mobile*/

@media (max-width: 620px) {

	#menu {
		display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    height: 0px;
    transition: .6s;
    background: #e7e7e7;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
	}
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }
  	#btn-mobile {
		display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
	}
  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: #000000;
  }
  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg)
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
     top: -7px;
  }

  #menugeral {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
  }

}