/* Estrutura Menu básico */

body, ul {
	margin: 0px;
	padding: 0px;
}

a {
	color: #000000;
	text-decoration: none;
	font-family: sans-serif;
}

a:hover {
	background: rgba(0, 0, 0, 0.1);
}

.logo img {
	float: left;

}

#header {
	box-sizing: border-box;
	height: 70px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e7e7e7;
}

#menu {
	display: flex;
	list-style: none;
	gap:  .5rem;
}

#menu a {
	display: block;
	padding: .5rem;
}

/* Animação do menu */

#btn-mobile {
	display: none;
}

/* Estrutura do conteudo */

#conteudogeral {
  width: 96%;
  margin-top: 5px;
  margin-left: 3%;
  float: left;
}

.fundotitulo {
  width: 96%;
  height: 60px;
  padding: 0.5rem;
  background-color: #07528c;
  border-radius: 10px 10px 0px 0px;
  float: left;
}

#conteudogeral h2 {
  width: 75%;
  height: 1rem;
  color: beige;
  text-decoration: none;
  font-family: sans-serif;
  float: left;
}

.logo2 {
  width: 10%;
  float: left;
  display: flex;
}

#conteudo {
  width: 98%;
  background-color: rgb(239, 239, 250);
  float: left;
}

/* Estrutura body mobile*/

@media (max-width: 620px) {

	#menu {
		display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    height: 0px;
    transition: .6s;
    background: #e7e7e7;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
	}
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }
  	#btn-mobile {
		display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
	}
  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: #000000;
  }
  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg)
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
     top: -7px;
  }
}